---
title: Ichus About
---

<div class="about">
  <h1>About me</h1>
  <p class="about-me"><br><br>&nbsp;&nbsp;I've always wanted to be a writer so far as I can remember. I'm currently working on a fictional piece which I believe will eventually end up as a trilogy. At the moment I've written a third of my way through the first book.<br><br>&nbsp;&nbsp;I play piano and began taking lessons at the age of five.<br><br>&nbsp;&nbsp;I enjoy drawing, gaming, hiking and doing yoga.</p>
</div>
