---
title: Ichus Home
---

<div class="welcome">
  <h1>Ichus</h1>
  <p class="doc no-underline">
    <%= link_to "About Inter-I", "/about.html" %>
  </p><!-- .doc -->
  <p class="doc no-underline">
    <%= link_to "Projects", "/projects.html" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
