---
title: Ichus Projects
---

<div class="projects">
  <h1>Projects</h1>
  <div class="link-list">
    <h3>My Projects:</h3>
    <ul>
      <!-- <% index = 0 %> -->
      <!-- <% While index <= data.projects[:name].length %> -->
        <li><%= link_to data.projects[:name][0], data.projects[:url][0] %></li>
        <!-- <% index += 1 %> -->
      <!-- <% end %> -->
    </ul>
</div>
