---
title: Ichus Projects
---

<div class="projects">
  <h1 class="uppercase">Projects</h1>
  <div class="link-list">
    <h3>My Projects:</h3>
    <ul>
      <% index = 0 %>
      <% while index < data.projects[:name].length %>
        <li class="no-underline"><%= link_to data.projects[:name][index], data.projects[:url][index] %></li>
        <% index += 1 %>
      <% end %>
    </ul>
</div>
